<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>The following request was sent</h1>
    <p>
<% @requests.each do |request| %>
<%= request.name %>
<%= request.email %>
<%= request.position %>
<%= request.reason %>
<% end %>
  </body>
</html>


