<!DOCTYPE html>
<body>
<h1>Students</h1>
     
<p>     
<button class="btn btn-large" type="button"><%= link_to 'School Directory', schools_path %></button>

</p>
<p>
      <%= link_to 'Student Directory', students_path %>
</p>


</body>
