
<!DOCTYPE html>

<h1>Education Reference Guide</h1>
<h2>Public Schools</h2>

<div class="btn">
<%= link_to "Add a New School", schools_path %>
</div>
<div class="btn">
<%= link_to "Add a New Student", students_path %>
</div>
