<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>The following request was sent</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Position</th>
    <th>Reason</th>
   </tr>
   <tr>
    <td><%= @request.name %></td>
    <td><%= @request.email %></td>
    <td><%= @request.position %></td>
    <td><%= @request.reason %></td>
   </tr>
 </table>

  </body>
</html>


