// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div#head {
margin-bottom:40px;
}

div#schoolsearch {
margin-left:5%;
margin-right:2%;
position:absolute;
}

div#schoolbutton {
margin-left:39%;
}

div#studentsearch {
margin-left:2%;
margin-right:5%;
padding-top:2px;
text-align:right;
}
