div#report {
margin-top: 10%;
margin-left: 30%;

}

div#report h2 {
margin-bottom: 2%;
font-size: 24px;
}

div#report h3 {
font-size: 18px;
}

div#results {
margin-top:10%;
}

div#results h2 {
font-size:24px;
text-align:center;
margin-bottom:5%;
}
