// Place all the styles related to the Schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
background-color: #87AFC1;
margin-left:5%;
margin-right:5%;
}

table {
background-color: white;

}

div#title {
text-align:center;
padding-bottom: 40px;
}

/* Hide Stuff */
ul.accessibility { display: none; }
