// Place all the styles related to the Schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



div#page {
margin-left:5%;
margin-right:5%;
}



div#title {
text-align:center;
}


div#form {
margin-left:10%;
}

div#new {
margin-left:10%;
margin-top:5%;
}

div#newschool {
margin-bottom:20px;
}

div#newbutton {
margin-left:20%;
}

div#editbutton {
margin-top:40px;
margin-left:20%;
margin-bottom:40px;
}

div#searchtitle {
margin-bottom: 40px;
}
