// Place all the styles related to the Schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
background-color: #87AFC1;
}

div#page {
margin-left:5%;
margin-right:5%;
}

table {
background-color: white;
border: solid rgb(103,127,148) 3px;
}

table th {
background-color: #BD9D7C;
}

div#title {
text-align:center;
padding-bottom: 40px;
}

/* Hide Stuff */
ul.accessibility { display: none; }

div#form {
margin-left:10%;
}

div#new {
margin-left:10%;
margin-top:5%;
}

div#newschool {
margin-bottom:20px;
}

div#newbutton {
margin-left:20%;
}

div#editbutton {
margin-top:40px;
margin-left:20%;
margin-bottom:40px;
}
