@import "reset";
@import "fonts";
@import "colors";
@import "mixins";

/* Hide Stuff */
ul.accessibility { display: none; }

body {
background-color: rgb(187,213,224);
}

table {
background-color: white;
border: solid rgb(103,127,148) 2px;
}

table th {
background-color: rgb(103,127,148);
color:white;
}


div#footer {
  background-color: white;
  position:fixed;
  width:100%;
  bottom:0;
  height:2em;
  padding-top:1%;
  padding-right: 10%;
  text-align:center;
}
