// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
background-color: #BBD5E0;
}

div#page {
margin-left:5%;
margin-right:5%;
margin-bottom:40px;

}

table {
background-color: white;
border: solid rgb(103,127,148) 2px;
}

table th {
background-color: rgb(103,127,148);
color:white;
}


/* Hide Stuff */
ul.accessibility { display: none; }

div#newstudent {
margin-bottom:20px;
}

div.well {
text-align:center;
}

div#new {
margin-left:10%;
margin-top:5%;
margin-bottom:30px;
}

div#form {
margin-left:10%;
}

div#newbutton {
margin-left:10%;
margin-bottom:40px;

}

div#editbutton {
margin-left:10%;
margin-bottom:40px;
}


