// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



div#page {
margin-left:5%;
margin-right:5%;
margin-bottom:40px;

}

div#newstudent {
margin-bottom:20px;
}

div.well {
text-align:center;
}

div#new {
margin-left:10%;
margin-top:5%;
margin-bottom:30px;
}

div#form {
margin-left:10%;
}

div#newbutton {
margin-left:10%;
margin-bottom:40px;

}

div#editbutton {
margin-left:10%;
margin-bottom:40px;
}


